<div class="main-head">
  <div class="g-s">
    <div class="g">
      hoo
    </div>
  </div>
  <div class="d">
    <div class="d-b">
      <a href="#">チャット終わり</a>
    </div>
  </div>
</div>
<div class="main-main"> 
  <div class="m">
    <div class="upper-message">
      <div class="message-user">
        猫心
      </div>
    <div class="message-date">
        1111111 
    </div>
  </div>
  <div class="lower-message">
      <div class="message-content">
        hahahahah
      </div>
   </div>
</div>
</div>
<div class="main-fot">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>