<div class="side-head">
  <div class="name">
    <a href="#">ネコ心</a>
  </div>
  <div class="c-room">
    <a href="#">チャット作成</a>
  </div>
</div>

<div class="side-mains">
  <div class="r">
    <div class= "r-name">
      <a href="#">Room</a>
    </div>
  </div>
  <div class="r">
    <div class= "r-name">
      <a href="#">Room2</a>
    </div>
  </div>
</div>