<div class="side-head">
  <div class="name">
    <%= linl_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="c-room">
    <a href="#">チャット作成</a>
  </div>
</div>

<div class="side-mains">
  <div class="r">
    <div class= "r-name">
      <a href="#">Room</a>
    </div>
  </div>
  <div class="r">
    <div class= "r-name">
      <a href="#">Room2</a>
    </div>
  </div>
</div>