.wrapper{
  display: flex;

}
.side{
  width: 300px;
  height: 100vh;
  background-color:white;


}
.side-head{
  height: 100px;
  background-color: yellow;
  padding: 0 20px;
  
}
.side-main{ 
  height: calc(100vh - 100px);
  background-color:yellowgreen;
  padding: 0 20px;

}
.main{
  width: calc(100% - 300px);
  background-color:honeydew;
  

}

.main-head{
  height: 100px;
  background-color:yellowgreen;
  padding: 0 40px;
  
}
.main-main{
  background-color:w;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px 40px 0;
}
.main-fot{
  height: 90px;
  background-color:white;
  margin: 20 40px;
  border: 1px solid blanchedalmond;
}

